<form action="/new" method="POST">
  <div class="creds">
    <p>Your Name: <input type="text" name="patron[name]"></p>
    <p>Your Email: <input type="text" name="patron[email]" required></p>
    <p>Your Age: <input type="text" name="patron[age]"></p>
  </div>
  <br>
  <br>
  <div class="dropdown">
    <h3>What bar would you like to rate?</h3>
    Select:
    <select name="bar[existing][name]">
      <option> - </option>
    <% @bars.order(:name).each do |bar| %>
      <option value="<%=bar.name%>"><%=bar.name%></option>
    <%end%>
    </select>
  </div>
  <br>
  <br>
  <div class="newbar">
    <h3>Or add a new bar:</h3>
      <p>Name: <input type="text" name="bar[new][name]"></p>
      <p>Address: <input type="text" name="bar[new][address]"></p>
      <p>Theme: <input type="text" name="bar[new][theme]"></p>
      <p>Image Url: <input type="text" name="bar[new][img_url]"></p>
  </div>
  <br>
  <br>
  <div class="review">
    <h3>Your Review:</h3>
    <p>Rating: <input type="number" name="review[rating]" min="1" max="5" required>/5</p>
    <p>Comment: <input type="text" name="review[comment]" required></p>
    <p>Would you recommend?</p>
    <input type="radio" value="true" name="review[recommend]"required>Yes
    <input type="radio" value="false" name="review[recommend]"required>No
  </div>
  <br>
  <input type="submit" value="Submit">

</form>
