<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Skelp</title>
  </head>
  <body>
    <h1>Skelp</h1>
    <nav>
      <h4> <a href="/bars/search"> Search </a></h4>
      <h4> <a href="/bars/"> Bars </a></h4>
      <h4> <a href="/reviews/new"> Write a Review </a></h4>
    </nav>

    <%= yield %>
  </body>
</html>
